.banner {
	width: 100%;
	height: 300px;
	position: relative;
}

.banner__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.banner__info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 20px;
	background-color: rgba(255, 255, 255, 0.6);
}

.banner__title {
	font-size: 21px;
	font-weight: bold;
}

.banner__text {
	font-size: 18px;
}
