.main {

	&--index {
		flex-grow: 1;
		padding: 100px @standart-side-padding;
	}

	&--catalog {
		padding: 100px @standart-side-padding;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content 1fr;
		grid-row-gap: 30px;
	}
}
