.product-card {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, min-content);
	grid-row-gap: 10px;
}

.product-card__title {
	order: 2;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.product-card__description {
	order: 3;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: @standart-black;
}

.product-card__img {
	order: 1;
	width: 100%;
	height: 250px;
	object-fit: cover;
	display: flex;
}
