.product {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: repeat(3, min-content);
	grid-template-areas:
		'title title'
		'img info'
		'controls controls'
	;
	grid-row-gap: 30px;
	grid-column-gap: 40px;
}
.product__title {
	grid-area: title;
	font-family: 'Roboto', "Arial", sans-serif;
	font-size: 30px;
	font-weight: 500;
}

.product__image {
	grid-area: img;
}

.product__info {
	grid-area: info;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: start;
}

.product__info-title {
	font-family: 'Roboto', "Arial", sans-serif;
	font-size: 28px;
	font-weight: 500;
}

.product__sub-title {
	font-family: 'Roboto', "Arial", sans-serif;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 300;
}

.product__text {
	font-family: 'Roboto', "Arial", sans-serif;
	margin-bottom: 15px;
	font-size: 17px;
	font-weight: 300;
}

.product__bold-text {
	font-weight: 500;
}

.effects__list {
	padding-left: 20px;
}

.effects__item {
	padding: 5px 0;
}

.effects__text {
	font-family: 'Roboto', "Arial", sans-serif;
}

.price-table {
	table-layout: fixed;
  border-collapse: collapse;
	margin: 20px 0;
}
.price-table__row {
}
.price-table__title {
	font-family: 'Roboto', "Arial", sans-serif;
	font-size: 18px;
	font-weight: normal;
	padding: 5px;
	text-align: left;
}
.price-table__costs {
	font-family: 'Roboto', "Arial", sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding: 5px;
	text-align: center;
}

.product__controls {
	grid-area: controls;

	display: flex;
	align-items: center;
	gap: 40px;
}

.product__button {
	cursor: pointer;
	min-width: 180px;
	padding: 20px;
	border: none;
	background-color: @standart-black;
	color: @standart-white;
	font-size: 17px;
	font-weight: 300;
}
